$themes: (
        light: (
                color-background: #F3F3FB,
                color-card: #FFF,
                color-primary: #88D780,
                color-secondary: #CF80D7,
                color-text: #BEBCBC,
        ),
        dark: (
                color-background: #171745,
                color-card: #24246B,
                color-primary: #88D780,
                color-secondary: #CF80D7,
                color-text: #BEBCBC,
        )
);
